# srcs/docker-compose.yml:
services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb_contaner
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/mysql
    secrets:
      - db_root_password
      - db_password
    env_file:
      - .env
    ports:
      - "3306:3306"
    networks:
      - inception
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
      interval: 5s
      retries: 5
      timeout: 5s
  
  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress_container
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wp_data:/var/www/html
    env_file:
      - .env
    ports:
      - "9000:9000"
    networks:
      - inception
    healthcheck:
      test: ["CMD", "mysql", "-h", "mariadb", "-u", "$WP_USER", "-p$WP_PASSWORD", "-e", "SELECT 1"]
      interval: 5s
      retries: 5
      timeout: 5s
      start_period: 10s

  nginx:
    build:
      context: ./requirements/nginx
    container_name: nginx_container
    depends_on:
      mariadb:
        condition: service_healthy
      wordpress:
        condition: service_healthy
    ports:
      - "443:443"
      - "80:80"
    env_file:
      - .env
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    restart: unless-stopped

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none 
      o: bind
      device: /home/dzasenko/data/mariadb
  wp_data:
    driver: local
    driver_opts:
      type: none 
      o: bind
      device: /home/dzasenko/data/wordpress

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt

networks:
  inception:
    name: inception_network
    driver: bridge

