version: "3.8"

services:
  mariadb:
    build: ./requirements/mariadb
    image: inception-mariadb
    container_name: mariadb
    restart: unless-stopped
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: inception-nginx
    container_name: nginx
    ports:
      - "443:443"
    networks:
      - inception
    restart: unless-stopped
volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/dzasenko/data/mariadb
      o: bind
networks:
  inception:
    name: inception
    driver: bridge
