
services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/mysql
    secrets:
      - db_root_password
      - db_password
    env_file:
      - .env
    networks:
      - inception

volumes:
  db-data:
    name: mariadb_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/dzasenko/data/mariadb

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt

networks:
  inception:
    name: inception
    driver: bridge
    


