
services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/mysql
    secrets:
      - db_root_password
      - db_password
    env_file:
      - .env
    networks:
      - inception
  wordpress:
    depends_on:
      - mariadb
    build: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    restart: unless-stopped
    volumes:
      - wordpress-data:/var/www/html
    env_file:
      - .env
    networks:
      - inception
  
#  ngnix:
#    depends_on:
#      - wordpress

volumes:
  db-data:
    name: mariadb_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/dzasenko/data/mariadb
  wordpress-data:
    name: wordpress_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/dzasenko/data/wordpress

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt

networks:
  inception:
    name: inception
    driver: bridge
